<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }} – {{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.gif">
  </head>
  <body>
    <div class="background"></div>
    <div class="container">
    <header>{% include navigation.html %}</header>
    {{ content }}
    <footer>
      © {{ site.time | date: "%Y" }} {{ site.author }}
    </footer>
  </div>
  </body>
</html>